# Ignore system files
*.swp
.DS_Store

# Ignore dependencies that are built/retrieved
test/tzsource
docs/build

# PkgBenchmark
benchmark/Manifest.toml
benchmark/tune.json

# Pkg
deps/build.log
/Manifest.toml
