# Ignore system files
*.swp
.DS_Store

# Ignore dependencies that are built/retrieved
deps/tzarchive
deps/tzsource
deps/compiled
deps/local
!deps/local/windowsZones.xml
deps/active_version
test/tzsource
docs/build

# PkgBenchmark
benchmark/.results
benchmark/.tune.jld

# Pkg
deps/build.log
/Manifest.toml
