language: julia
os:
  - osx
  - linux
julia:
  - "0.6"
  - nightly
notifications:
  email: false
env:
  - JULIA_TZ_VERSION="2016j"
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  # Avoid setting JULIA_TZ_VERSION if the deps/build.jl file has been modified
  - git fetch origin +:refs/remotes/origin/HEAD; if ! git diff --quiet origin/HEAD HEAD -- deps/build.jl; then unset JULIA_TZ_VERSION; fi
  - julia -e 'Pkg.clone(pwd()); Pkg.build("TimeZones")'
  - OPTIONS=$(julia -e 'using Mocking; print(DISABLE_COMPILED_MODULES_STR)')
  - julia $OPTIONS -e 'Pkg.test("TimeZones"; coverage=true)'
after_success:
  - julia -e 'cd(Pkg.dir("TimeZones")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())';
  - julia -e 'cd(Pkg.dir("TimeZones")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
